{% extends 'Templates/page.twig' %}

{% block title %}Home{% endblock %}

{% if authentication.check %}
    {% block sidebar %}{% endblock %}
{% endif %}


{% block content %}
    <div class="container">
        Video Template
    </div>
{% endblock %}
