{% extends 'Templates/page.twig' %}

{% block title %}Home{% endblock %}

{% if authentication.check %}
	{% block sidebar %}{% endblock %}
{% endif %}
{% block assetsHeader %}

{% endblock %}

{% block content %}

<div class="wrapper">



	<div class="box-spacing">

		<a href="#" data-toggle="offcanvas" class=""><i class="fa fa-navicon"></i> Edit vídeo</a>

	</div>

	<div id="result">
	</div>

	<div id="captions">
		<form method="get" action="" class="">
			<div class="form-inline load-video-box">
				<div class="form-group">

					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-video-camera"></i></div>
						<input name="url" type="text" value="https://www.youtube.com/embed/9hIQjrMHTv4" class="form-control">
					</div>

					<button type="submit" class="btn btn-primary">load video</button>
				</div>
			</div>

		</form>
		<div class="row caption-actions" style="display: block;">
			<div class="col-sm-4">
				<a href="#" class="play">Restart
				</a><a href="#" class="share">Share
				</a></div><a href="#" class="share">
				</a><div class="col-sm-8 text-right"><a href="#" class="share">
				</a><a href="#" id="add">Add another caption <i class="fa fa-plus"></i></a>
			</div>
		</div>
	</div>

</div>




{% endblock %}

{% block assetsFooter %}
<script src="/assets/plugins/playerjs/scripts/libs/jquery.js"></script>

<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>


<script type="text/javascript" src="http://cdn.embed.ly/player-0.0.12.min.js"></script>
<script src="/assets/plugins/playerjs/scripts/captions.js"></script>
<script>
$.embedly.defaults.key = '3ee528c9eb4b4908b268ce1ace120c92';
</script>
	<script>
		var emailRegister = function (email) {
			$.getJSON( "http://localhost/rest/email/new?email="+email, function(data) {
					if (data[0].status == 'success'){
					    $('fazalgo');
					};
			});
        }
	</script>
{% endblock %}
