{% extends 'Templates/page.twig' %}

{% block title %}Home{% endblock %}

{% if authentication.check %}
	{% block sidebar %}{% endblock %}
{% endif %}
{% block content %}

<div class="wrapper">
	<div class="box-spacing">
		<a href="#" data-toggle="offcanvas" class="btn btn-rounded btn-secondary"><i class="fa fa-pencil"></i> Edit vídeo</a>
	</div>
	<!-- This iframe will always fill the parent width, but will remain at 16:10 aspect ratio -->

	<div id="result" class="ratio-16-10">

		<div class="email-collector">
			<h1>Enter your email address to view this video.</h1>
			<form>

				<div class="row name">

					<div class="col-sm-6">
						<input type="text" name="nameCollector" required id="nameCollector" rows="2" cols="80" class="form-control" placeholder="First name">
					</div>

					<div class="col-sm-6">
						<input type="text" name="lNameCollector" required id="lNameCollector" rows="2" cols="80" class="form-control" placeholder="Last name">
					</div>

				</div>


				<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-envelope"></i></div>
						<input type="text" name="emailCollector" id="emailCollector" value="" class="form-control" placeholder="email@provider.com">
					</div>
					<small id="msgErroEmail" class="label-danger"></small>
				</div>
				<input type="button" name="btnClickSaveMail" id="btnClickSaveMail" value="Play" class="btn btn-md btn-block btn-primary text-uppercase">
			</form>
		</div>
	</div>




	<div id="captions">
		<form method="get" action="" class="">
			<div class="form-inline load-video-box">
				<div class="form-group">

					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-video-camera"></i></div>
						<input name="url" type="text" value="https://www.youtube.com/embed/9hIQjrMHTv4" class="form-control">
					</div>

					<button type="submit" class="btn btn-primary btn-rounded">Load video</button>
				</div>
			</div>

		</form>
		<div class="row caption-actions" style="display: block;">

			<div class="col-sm-12 box-spacing">
			<a href="#" id="add" class="btn btn-secondary btn-lg btn-block">Add another caption <i class="fa fa-plus"></i></a>
			</div>

			<div class="col-sm-12 box-action">
				<div class="wrapper">
					<a href="#" class="play btn btn-default"><i class="fa fa-refresh"></i> Restart</a>
					<a href="#embed" id="click_embed" class="btn btn-default"><i class="fa fa-code"></i> Embed</a>

					<div class="row caption-actions">
						<a name="embed"></a>
						<div class="col-sm-12" id="embed" style="display:none">
							<textarea class="form-control" id="embed_text" >{{ embed }}</textarea>
							<small id="alertCopy" style="display:none">Text copied</small>
						</div>
					</div>
				</div>

			</div>

			<div class="col-sm-12 share">
				<h3>Share this video</h3>

				<div class="row caption-actions share-box">
					<div class="col-sm-12" id="share">
					</div>
				</div>

			</div>


		</div>
	</div>


</div>

</div>




{% endblock %}

{% block assetsFooter %}

	<style>
		#captions hr {
			margin: 0;
		}
	</style>

<script src="http://cdn.embed.ly/jquery.embedly-3.1.1.min.js"></script>
<script type="text/javascript" src="http://cdn.embed.ly/player-0.0.12.min.js"></script>
<script src="/assets/plugins/playerjs/scripts/quiz.js"></script>
<script src="/assets/js/copy.clipboard.js"></script>
<script src="/assets/js/validators.js"></script>


<script type="text/javascript" src="/bower_components/jssocials/dist/jssocials.min.js"></script>
<link type="text/css" rel="stylesheet" href="/bower_components/jssocials/dist/jssocials.css" />
<link type="text/css" rel="stylesheet" href="/bower_components/jssocials/dist/jssocials-theme-classic.css" />

<script>
$.embedly.defaults.key = '3ee528c9eb4b4908b268ce1ace120c92';

$("#share").jsSocials({
	shareIn: "popup",
	showLabel: false,
	showCount: false,
	shares: ["email", "twitter", "facebook", "googleplus", "linkedin", "pinterest", "stumbleupon", "whatsapp"]
});


$(function() {
	$("#click_embed").click(function(){
		$("#embed").show();
	});
	$("#embed_text").click(function(){
		$("#alertCopy").show();
		copyToClipboard(document.getElementById("embed_text"));
	});
	$("#btnClickSaveMail").click(function(){
		var emailCollector 	= $("#emailCollector").val();
		var nameCollector 	= $("#nameCollector").val();
		var lNameCollector 	= $("#lNameCollector").val();

		if(!isValidEmailAddress(emailCollector)){

			$("#msgErroEmail").html("Sorry! Must be a valid email.");

		} else {

			$("#msgErroEmail").html("");

			$.getJSON("/rest/email/new?email=" + emailCollector + "&name=" + nameCollector + "&lastname=" + lNameCollector, function (data) {

				if (data[0].status == 'success') {
					$("#msgErroEmail").html("");
					$(".email-collector").hide();
				};

				if (data[0].status == 'error') {
					$("#msgErroEmail").html(data[0].message);
				};
			});
		}
	});

});

</script>


{% endblock %}
