<nav class="navbar top-bar">

	<div class="container-fluid">
		<div class="navbar-header">

			<a class="navbar-brand" href="{{ path_for('home') }}"><img src="{{ settings.logo }}" srcset="{{ settings.logo2x }} 2x"></a>

		</div>
	{% if authentication.check %}
		<a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i> Video Tools</a>
		<div class=" navbar-right">
			<a href="{{ base_url() }}/authentication/signout" class="btn btn-rounded" >Logout</a>
		</div>
	{% endif %}
	</div>
</nav>
{% if authentication.check %}
    {% include 'Templates/sidebar.twig' %}
{% endif %}
