<!-- Sidebar -->
<nav class="navbar sidebar  sidebar-offcanvas" id="sidebar-wrapper" role="navigation">
	<ul class="nav sidebar-nav">

		<li class="nav-item dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mail Collector <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">

				<li>
					<div class="switch-field">
						<div class="switch-title">Enable email collector?</div>
						<input type="radio" id="switch_left" name="switch_2" value="yes" checked/>
						<label for="switch_left">Yes</label>
						<input type="radio" id="switch_right" name="switch_2" value="no" />
						<label for="switch_right">No</label>
					</div>

					<form class="" action="index.html" method="post">
						<div class="form-group">
							<label for="name-id">Upper Text</label>
							<textarea name="name" rows="2" cols="80" class="form-control"></textarea>
						</div>
					</form>
				</li>
				<li class="dropdown-header">Dropdown heading</li>
				<li><a href="#">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li><a href="#">Separated link</a></li>
				<li><a href="#">One more separated link</a></li>
			</ul>
		</li>


		<li class="nav-item">
			<a href="#"></i> Mail Collector</a>
		</li>
		<li class="nav-item">
			<a href="#">Quiz</a>
		</li>
		<li class="nav-item">
			<a href="#">Second page</a>
		</li>
		<li class="nav-item">
			<a href="#">Third page</a>
		</li>

		<li class="nav-item">
			<a href="#"><i class="fa fa-fw fa-bank"></i> Page four</a>
		</li>
		<li class="nav-item">
			<a href="#"><i class="fa fa-fw fa-dropbox"></i> Page 5</a>
		</li>
		<li class="nav-item">
			<a href="#"><i class="fa fa-fw fa-twitter"></i> Last page</a>
		</li>
	</ul>
</nav>
<!-- /#sidebar-wrapper -->
