//Colors

$darkblue: #30364a;
$light-grey: #f0f0f0;
$turquoise: #00bfbc;
$purple: #6772e5;
$black: #162031;


//Fonts
$varela: 'Varela Round', sans-serif;


//mixins
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}



/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  -webkit-text-fill-color: $turquoise;
  -webkit-box-shadow: 0 0 0px 1000px $darkblue inset;
  transition: background-color 5000s ease-in-out 0s;
}
