#result{
	position: relative;
}
.resp{
	position: relative;
	span#caption{
		display: none;
		position: absolute;
		z-index: 10000;
		top: 10px;
		left: 10px;
		background: #fff;
		padding: 10px;
	}
}

.embedly-embed {
	display: block;
	position: absolute;

	left: 0;
	top: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
}

.resp {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	padding-top: 56.5%; /* This is your aspect-ratio */
	margin-bottom: 40px;
}




.email-collector{
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 100;
	padding: 10%;
	text-align: center;
	color: #fff;

	h1{ font-size: 40px;}
}
