@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

@import "variables";
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


body {
	font-family: $varela;
}

.auth{
	background: url('../images/thinkific_auth_bg.jpg') no-repeat $darkblue;
	background-size: 756px 607px;
	background-position: bottom left;
	height: 100vh;
	padding: 150px 0;

	h1{ color: $turquoise;
		max-width: 286px;
		font-size: 40px;
		text-transform: uppercase;
	}

	.brand {padding: 40px 0;
		h2{
			color: $turquoise;
			margin: 0;
			padding: 0;
		}
	}

	.nav-tabs {
		border: none;
		margin-bottom: 30px;
		li{
			margin-right: 50px;
			a{
				background: none;
				text-transform: uppercase;
				font-size: 20px;
				color: rgba(255, 255, 255, 0.3);
				border: none;
				padding: 10px 0;

			}
			&.active{
				a{
					background: none;
					border: none;
					color: #fff;
					position: relative;

					&:after{
						content: "";
						width: 100%;
						height: 3px;
						background: $turquoise;
						position: absolute;
						left: 0;
						bottom: 0px;
						@include border-radius(90px);
					}
				}
			}
		}

	}

	.form-group{
		label{
			color: #fff;
			text-transform: uppercase;
		}
		.form-control{
			background: none;
			border: none;
			@include border-radius(0);
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			padding: 20px 0;
			font-size: 16px;
		}
	}


	.btn-primary{ background: $turquoise;}
	.btn{ @include border-radius(4px);
		&:focus {
			outline: none !important;
			box-shadow: none;
		}
	}
	.btn-lg{
		padding: 24px;
		font-size: 16px;
	}
}

.top-bar {
	border-radius: 0 !important;
	background: $darkblue;
	margin: 0;
	border: none;

	.navbar-brand {
		padding: 20px 15px;
		height: inherit;
		img{ width: 100%; }
	}

	.navbar-nav{
		margin-top: 20px;
		li>
		a{
			color: $turquoise;
			padding:5px 15px;
		}
	}
	.navbar-right{margin-right: 0;}
}

.btn-rounded{
	border:1px solid #fff;
	color: #fff;
	@include border-radius(90px);
}

.sidebar {
	position: relative;
	width: 20em;
	border-radius: 0px;
	height: calc(100vh - 70px);
	background: $light-grey;
	border: 0;
	margin: 0;
	float: left;

	&.sidebar-offcanvas{
		display: none;

		&.active{
			display: block !important;
		}
	}

	.dropdown-menu {
		position: relative;
		box-shadow: none;
		border-radius: 0;
		float: none;
		border: 0;
		margin: 0;
		padding: 0;
	}

	.nav-item {
		//border-bottom: 0.5px solid;
		//border-bottom-color: rgb(89, 96, 105);
		a {
			color: #666;
			&:hover a{
				/*color:	#2b3643;*/
			}
		}
	}
}

.content{
	width: calc(100vw - 300px);
}
